{% extends 'food/base.html' %}

{% block body %}

    <div class="container">
        <div class="row">
                <div class="col-md-6">
                    <img height="240px" width="240px" src="{{ item.item_image }}" class="card"/>
                </div>

                <div class="col-md-4">
                    <h1> {{ object.item_name }} </h1>
                    <h1> {{ object.item_desc }}   </h1>
                    <h1> Rs/ {{ object.item_price }}   </h1>
                    <a href="{% url 'food:delete_item' item.id %}"> Delete </a>
                </div>
        </div>
    </div>


{% endblock %}